{% extends "page.html" %}

{% block content %}
{{ super() }}
<div id="app-logo-container-main" class="no-font">
  <div id="app-logo-container" class="logo">
    <a class="shadowed" href="https://console.basthon.fr">
      <img id="basthon-console" class="app-logo" src="{{ SITEURL }}/theme/assets/img/basthon-console.svg" alt="Basthon-Console" title="Basthon-Console"/>
    </a>
    <a class="shadowed" href="https://notebook.basthon.fr">
      <img id="basthon-notebook"  class="app-logo" src="{{ SITEURL }}/theme/assets/img/basthon-notebook.svg" alt="Basthon-Notebook" title="Basthon-Notebook"/>
    </a>
  </div>
</div>
<div id="help-container" class="logo no-font">
  <a class="shadowed" href="{{ SITEURL }}/doc.html">
    <img id="help" src="{{ SITEURL }}/theme/assets/img/life-ring.svg" alt="Accéder à la documentation de Basthon" title="Accéder à la documentation de Basthon"/>
  </a>
</div>
<div id="ci-pipeline" class="no-font">
  <a href="https://framagit.org/basthon/basthon-kernel/-/commits/master" target="_blank" rel="noopener noreferrer">
    <img id="ci-pipeline-img" src="https://framagit.org/basthon/basthon-kernel/badges/master/pipeline.svg"/>
  </a>
</div>
{% endblock %}
