<div style="width: 100%; text-align: center;"><canvas id="defaultCanvas0" class="p5Canvas" data-hidden="true" width="200" height="200" style="visibility: visible; width: 200px; height: 200px;"></canvas></div>